#markdown-toc { display: inline-block; float: right }
.highlighter-rouge { 
  white-space: pre; 
  background-color: #f4f4f4;
  padding: 1em;
  border-color: #808080;
  border-style: solid;
}
.highlighter-rouge .hll { background-color: #ffffcc }
.highlighter-rouge .c { color: #60a0b0; font-style: italic } /* Comment */
.highlighter-rouge .err { border: 1px solid #FF0000 } /* Error */
.highlighter-rouge .k { color: #007020; font-weight: bold } /* Keyword */
.highlighter-rouge .o { color: #666666 } /* Operator */
.highlighter-rouge .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlighter-rouge .cp { color: #007020 } /* Comment.Preproc */
.highlighter-rouge .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlighter-rouge .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlighter-rouge .gd { color: #A00000 } /* Generic.Deleted */
.highlighter-rouge .ge { font-style: italic } /* Generic.Emph */
.highlighter-rouge .gr { color: #FF0000 } /* Generic.Error */
.highlighter-rouge .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlighter-rouge .gi { color: #00A000 } /* Generic.Inserted */
.highlighter-rouge .go { color: #808080 } /* Generic.Output */
.highlighter-rouge .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlighter-rouge .gs { font-weight: bold } /* Generic.Strong */
.highlighter-rouge .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlighter-rouge .gt { color: #0040D0 } /* Generic.Traceback */
.highlighter-rouge .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlighter-rouge .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlighter-rouge .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlighter-rouge .kp { color: #007020 } /* Keyword.Pseudo */
.highlighter-rouge .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlighter-rouge .kt { color: #902000 } /* Keyword.Type */
.highlighter-rouge .m { color: #40a070 } /* Literal.Number */
.highlighter-rouge .s { color: #4070a0 } /* Literal.String */
.highlighter-rouge .na { color: #4070a0 } /* Name.Attribute */
.highlighter-rouge .nb { color: #007020 } /* Name.Builtin */
.highlighter-rouge .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlighter-rouge .no { color: #60add5 } /* Name.Constant */
.highlighter-rouge .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlighter-rouge .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlighter-rouge .ne { color: #007020 } /* Name.Exception */
.highlighter-rouge .nf { color: #06287e } /* Name.Function */
.highlighter-rouge .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlighter-rouge .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlighter-rouge .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlighter-rouge .nv { color: #bb60d5 } /* Name.Variable */
.highlighter-rouge .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlighter-rouge .w { color: #bbbbbb } /* Text.Whitespace */
.highlighter-rouge .mf { color: #40a070 } /* Literal.Number.Float */
.highlighter-rouge .mh { color: #40a070 } /* Literal.Number.Hex */
.highlighter-rouge .mi { color: #40a070 } /* Literal.Number.Integer */
.highlighter-rouge .mo { color: #40a070 } /* Literal.Number.Oct */
.highlighter-rouge .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlighter-rouge .sc { color: #4070a0 } /* Literal.String.Char */
.highlighter-rouge .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlighter-rouge .s2 { color: #4070a0 } /* Literal.String.Double */
.highlighter-rouge .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlighter-rouge .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlighter-rouge .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlighter-rouge .sx { color: #c65d09 } /* Literal.String.Other */
.highlighter-rouge .sr { color: #235388 } /* Literal.String.Regex */
.highlighter-rouge .s1 { color: #4070a0 } /* Literal.String.Single */
.highlighter-rouge .ss { color: #517918 } /* Literal.String.Symbol */
.highlighter-rouge .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlighter-rouge .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlighter-rouge .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlighter-rouge .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlighter-rouge .il { color: #40a070 } /* Literal.Number.Integer.Long */
